.calendar {
	box-sizing: border-box;
	width: 300px;

	position: relative;

	font-family: sans-serif;

	*, *:before, *:after {
		box-sizing: inherit;
	}

	button {
		border: 0;
	}

	&__month-indicator {
		height: 40px;

		line-height: 40px;
		text-align: center;
	}

	&__prev,
	&__next {
		width: 36px;
		height: 36px;

		position: absolute;

		background-color: transparent;
		cursor: pointer;
	}

	&__prev {
		left: 0;
		top: 0;
	}

	&__next {
		right: 0;
		top: 0;
	}

	&__day-of-week,
	&__date-grid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}

	&__day-of-week {
		height: 40px;

		text-align: center;
	}

	&__date-cell {
		height: 36px;
		padding: 0;
		border-radius: 25%;
		margin: 2px;

		background-color: white;
		color: #aaaaaa;
		font-size: 16px;
		cursor: default;

		&--is-selectable {
			color: black;
			cursor: pointer;

			&:hover {
				background-color: #add8e6	;
				color: white;
			}
		}

		&--is-selected {
			background-color: purple	;
			color: white;

			&:hover {
				background-color: purple	;
				color: white;
			}
		}
	}
}