.calendar {
	box-sizing: border-box;
	width: 300px;

	position: relative;

	font-family: sans-serif;

	*, *:before, *:after {
		box-sizing: inherit;
	}

	button {
		border: 0;
	}
}

.calendar__month-indicator {
	height: 40px;

	line-height: 40px;
	text-align: center;
}

.calendar__prev,
.calendar__next {
	width: 36px;
	height: 36px;

	position: absolute;

	background-color: transparent;
	cursor: pointer;
}

.calendar__prev {
	left: 0;
	top: 0;
}

.calendar__next {
	right: 0;
	top: 0;
}

.calendar__day-of-week,
.calendar__date-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 4px;
}

.calendar__day-of-week {
	height: 40px;

	text-align: center;
}

.calendar__empty-cell {
	background-color: white;
}

.calendar__date-cell {
	height: 36px;
	padding: 0;
	border-radius: 25%;

	background-color: white;
	color: black;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		background-color: #add8e6	;
		color: white;
	}
}

.calendar__date-cell--is-selected {
	background-color: purple	;
	color: white;

	&:hover {
		background-color: purple	;
		color: white;
	}
}
