*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: 0;
  cursor: pointer;
}

.cal {
  box-sizing: border-box;
  width: 300px;

  position: relative;

  font-family: sans-serif;
}

.month-indicator {
  height: 40px;

  line-height: 40px;
  text-align: center;
}

.prev,
.next {
  width: 36px;
  height: 36px;

  position: absolute;

  background-color: transparent;
}

.prev {
  left: 0;
  top: 0;
}

.next {
  right: 0;
  top: 0;
}

.prev--is-disabled,
.next--is-disabled {
  cursor: default;

  svg {
    fill: #aaaaaa;
  }
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 4px;
}

.day-of-week {
  height: 40px;

  line-height: 40px;
  text-align: center;
}

.empty-cell {
  background-color: white;
  cursor: default;
}

.date-cell {
  height: 36px;
  padding: 0;
  border-radius: 25%;

  background-color: white;
  color: #aaaaaa;
  cursor: default;
  font-size: 16px;
}

.date-cell--is-selectable {
  color: black;
  cursor: pointer;

  &:hover {
    background-color: #add8e6	;
    color: white;
  }
}

.date-cell--is-selected {
  background-color: purple	;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: purple	;
    color: white;
  }
}